.main-container {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 200px;

  @media screen and (max-width: 728px) {
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-bottom: 100px;
    margin-top: 30px;
  }

  .logo {
    height: 100%;
    display: flex;
    width: 120px;
    justify-content: center;
    @media screen and (max-width: 727px) {
      width: 140px;
      height: 140px;
    }
    img {
      cursor: pointer;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 70px;

    @media screen and (max-width: 728px) {
      gap: 10px;
      width: 50%;
      margin: 20px 0;
      justify-content: space-evenly;
    }

    a {
      text-decoration: none;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      position: relative;
    }

    a::after {
      content: "";
      left: 0;
      width: 0%;
      bottom: -5px;
      height: 2px;
      position: absolute;
      border-radius: 10px;
      background-color: #fff;
      transition: 0.5s ease-in-out;
    }

    a:hover::after {
      width: 100%;
    }

    a::before {
      content: "";
      right: 0;
      width: 0%;
      top: -5px;
      height: 2px;
      position: absolute;
      border-radius: 10px;
      background-color: #ffe600;
      transition: 0.5s ease-in-out;
    }

    a:hover::before {
      width: 100%;
    }
  }

  .button {
    font-weight: 700;
    cursor: pointer;
    background-color: #ffe600;
    padding: 20px 45px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s ease-in-out;

    @media screen and (max-width: 728px) {
      gap: 10px;
      margin-top: 20px;
    }
  }
  .button:hover {
    background-color: #a39300;
  }
}
