.all-audio-tracks {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  display: flex;
  gap: 20px;

  img{
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  .content {
    width: 100%;
    h2 {
      color: #fff;
      font-size: 2.5rem;
    }
    audio {
      width: 500px;
    }
    .custom-audio-container {
      position: relative;
      .botton-progress {
        width: 100%;
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .container-time {
          width: 50%;
          display: flex;
          align-items: center;
          gap: 10px;

        }

        .time-display {
          color: #fff;
          font-weight: 600;
        }

        .progress-container {
          width: 90%;
          height: 30px;
          background-color: #ccc;
          cursor: pointer;
          bottom: 0;
          border-radius: 5px;
          animation: progress 2s infinite ease-in-out ;

        }

        .progress-bar {
          height: 100%;
          height: 100%;
          background-color: #ff003c;
        }

        @keyframes progress {
          0% {
            background-color: #e4e4e4;
          }
          50% {
            background-color: #ffffff;
          }
          100% {
            background-color: #e4e4e4;
          }
        }

        .button {
          cursor: pointer;
          background-color: #ff003c;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 100px;
          border-radius: 100px;
          color: #fff;
          transition: 0.5s ease-in-out;
        }
        .button:hover {
          background-color: #7e001e;
        }
      }
    }
  }
}
