<app-header />
<div class="main-container">
  <h2>PODCASTS</h2>
  <div class="main-content">
    <div *ngFor="let podcast of podcasts">
      <div class="list-all-podcasts">
        <div class="container-content">
          <div class="card">
            <img src="{{ podcast.img }}" />
            <div class="text-content">
              <div>{{ podcast.eps }}</div>
              <div>{{ podcast.name }}</div>
              <div>
                {{ podcast.desc }}
              </div>
              <div
                (click)="setDetail(podcast.name.toLocaleLowerCase())"
                class="button"
                routerLink="/detail"
              >
                VER EPISÓDIOS
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
