<div class="main-container">
  <div class="list-all-podcasts">
    <h2>PODCASTS</h2>
    <div class="container-content">
      <div class="card">
        <img src="../../../assets/imgs/devaneio.png" />
        <div class="text-content">
          <div>12 episódios</div>
          <div>PODCAST DEVANEIO</div>
          <div>
            PROGRAMA PARA AQUELES QUE DESEJAM OUVIR CONVERSA FIADA E OPINIÕES
            SEM MUITO EMBASAMENTO DE ALGUÉM COM UMA CULTURA DE CARÁTER
            QUESTIONÁVEL, QUE NEM MESMO VOCÊ CONHECE, MAS POR ALGUM MOTIVO,
            APRECIA PROFUNDAMENTE.
          </div>
          <div class="button">VER EPISÓDIOS</div>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/imgs/metalcast.png" />
        <div class="text-content">
          <div>5 episódios</div>
          <div>METALCAST</div>
          <div>
            O PODCAST PARA OS APAIXONADOS POR HEAVY METAL QUE BUSCAM OPINIÕES
            SEM BASE E CONVERSAS IMPREVISÍVEIS. ENTRE RIFFS DESCONTROLADOS E
            ANEDOTAS OBSCURAS, NOSSO PROGRAMA É UMA VIAGEM SONORA PELA
            DESCONHECIDA CULTURA MEGADETHICA. JUNTE-SE A NÓS, ONDE O METAL
            ENCONTRA O INESPERADO!
          </div>
          <div class="button">VER EPISÓDIOS</div>
        </div>
      </div>
    </div>
  </div>
</div>
