.main-container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .list-all-podcasts {
    width: 60%;

    h2 {
      color: #fff;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 20px;
    }

    .container-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      .card {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        width: 450px;
        height: 550px;
        background-color: #353535;
        color: #fff;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        .text-content {
          box-sizing: border-box;
          padding: 20px;
          div:nth-child(1) {
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 20px;
          }
          div:nth-child(2) {
            font-weight: 700;
            font-size: 2rem;
            left: 2px;
            margin-bottom: 10px;
          }
          div:nth-child(3) {
            font-weight: 300;
            font-size: 1rem;
            left: 2px;
            margin-bottom: 10px;
          }
          .button {
            cursor: pointer;
            position: absolute;
            left: 20px;
            bottom: 20px;
            border-radius: 5px;
            padding: 20px 0px;
            font-weight: 600;
            background-color: #ff003d;
            width: 150px;
            text-align: center;
          }
        }
      }
    }
  }
}
